[Unit]
Description=HausKI Autopilot
StartLimitIntervalSec=300
StartLimitBurst=30
After=default.target
Wants=default.target

[Service]
Type=simple
ExecStart=%h/sichter/bin/hauski-autopilot
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
