name: ci
permissions:
  contents: read
on:
  push:
    branches: [ main ]
  pull_request: {}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ludeeus/action-shellcheck@master
      - name: shfmt
        run: |
          sudo wget -qO /usr/local/bin/shfmt https://github.com/mvdan/sh/releases/download/v3.7.0/shfmt_v3.7.0_linux_amd64
          sudo chmod +x /usr/local/bin/shfmt
          shfmt -d .
